<div class="search-bar">
  <input class="search-input" [(ngModel)]="search" placeholder="Search..">
  <app-create-contact (onAdd)="updateContacts($event)"></app-create-contact>
</div>
<hr>
<div class="contact-list">
  <div *ngFor="let contact of yourContacts | sort | filter:search"
       class="contact">
    <h3>{{contact.name}}</h3>
    <div class="btn-div">
      <app-show-contact-btn class="contact-show" (click)="showId(yourContacts, contact); showFull.showData(this.contact); " >
      </app-show-contact-btn>
      <button class="delete-btn" (click)="showRemove = !showRemove; removableContact = this.contact.id; removableContactName = this.contact.name">&times;</button>
      <div class="contact-modal animate" *ngIf="showRemove">
        <div class="modal-content">
          <h3 id="remove-h3">Remove Contact: {{removableContactName}} ?</h3>
          <div class="contact-edit-btn-div">
            <button class="confirm-btn" (click)="removeContact(this.removableContact)">Remove</button>
            <button class="cancel-btn" (click)="showRemove = !showRemove">Cancel</button>
          </div>
      </div>
      </div>
    </div>

  </div>
</div>

